body {
    margin: 0px;
    background: linear-gradient(rgb(150, 150, 150), rgb(255, 255, 255));
}



/*#########  BARRA DE NAVEGAÇÃO   #########*/

#navbar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(199, 199, 199);
    box-sizing: border-box;
    padding: 10px;
}

#navbar span {
    padding: 7px 40px;
    border-radius: 2px;
    width: fit-content;
    box-sizing: border-box;
    transition: color 0.2s;
    cursor: pointer;
    text-align: center;
}

#navbar span#nav_bar_collapse {
    margin-top: 0px;
    width: fit-content;
}

#navbar span:hover {
    color: rgb(110, 110, 110);
}

#navbar.max {
    width: max-content;
}

#navbar.row {
    flex-direction: row;
}

#navbar.row span {
    margin-left: 20px;
    width: fit-content;
}

#navbar.row span:first-of-type {
    margin-left: 0px;
}

#navbar.row span#nav_bar_collapse {
    display: none;
}


#navbar.col {
    flex-direction: column;
    align-items: flex-end;

}

#navbar.col span {
    margin: 20px 0px 0px 0px;
    width: 100%;
    transform: scaleY(1);
    height: max-content;
    transition-property: transform, height, padding, margin;
    transition-duration: 1s;
}

#navbar.col span:first-of-type {
    margin-top: 0px;
}

#navbar.col span.hide {
    transform: scaleY(0);
    /*color: rgba(0, 0, 0, 0);*/
    margin: 0px;
    padding: 0px;
    height: 0px;
}

#navbar.col span#nav_bar_collapse {
    display: block;
    width: fit-content;
}

#navbar.col span#nav_bar_collapse.active {
    margin-top: 20px;
}


/*#########  BARRA DE NAVEGAÇÃO   #########*/


#title_container {
    background-color: rgb(0, 0, 0);
    color: white;
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 20px 0px 5px 0px;
}

#title_container h1 {
    font-family:ZenDots-Regular;
    font-size:xx-large;
}

#title_container h3 {
    font-family: RobotoCondensed-Regular;
}


#content{
    padding-top: 30px;
    padding-inline: max(10px, 20vw);
}

#foto{
    max-width:400px;
    width: 100%;
    margin: auto;
    border-style: solid;
}

#image_container{
    text-align: center;
    display: flex;
    max-width:800px;
    margin: auto;
    flex-direction: column;
    flex-wrap: wrap;
}

#image_container h3{
    margin:auto;
    width: fit-content;
    padding: 20px;
    font-family: RobotoCondensed-Regular;
}

.subtitle{
    text-align: center;
    font-family: ZenDots-Regular;
}

.text{
    text-align:justify; 
    font-family: RobotoCondensed-Regular;
    text-indent: 20px; 
    width: 80%; 
    margin:auto;
}

@font-face {
    font-family: ZenDots-Regular;
    src: url(ZenDots-Regular.ttf);
  }

  @font-face {
    font-family: RobotoCondensed-Regular;
    src: url(RobotoCondensed-Regular.ttf);
  }
  

  a{
    color: blue;
  }